* {
    background-color: black;
    font-weight: bold;
    font-size: 18px;
    color: white;
}
.nav-item a {
    color: white;
}
.nav-item a:hover{
   color: black; 
   background-color: white;
}
#navBar-Container {
    border-bottom: black 2px solid;
    background-color: black;
}
#aboutMe{
    text-align: center;
    font-size: 50px;
}


#projectBtn {
    padding: 25px;
    font-size: 50px;
    border: white 3px dotted;
    border-radius: 50%;
}
#projectBtn:hover{
    border: solid 5px white;
}


#project-Container {
    display: flex;
}
#skills-Container{
    display: flex;
}
#arrow {
    margin-left: 10px;
    transform: rotate(180deg) scale(3.5);
}
#skillsHeading{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
ul {
    list-style: none;
}
#previousCard-Heading{
    font-size: 35px;
    font-weight: bold;
    padding-left: 20px;
}
#accolades-list {
    list-style-type:circle
}
#social-media {
    margin-top: 50px;
}
p {
    text-align: center;
}
.skills-column:hover{
    box-shadow: 10px 10px 10px white;
}
